#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.dragon__canvas {
  position: relative;
  width: 700px;
  display: flex;
  animation: dragon-canvas 1.8s infinite ease-in-out;
  height: 300px;
}

.dragon__left-arm {
  position: absolute;
  top: 40px;
  animation: left-wing 0.8s infinite ease-in;
  transform-origin: right;
}
.dragon__right-arm {
  position: absolute;
  left: 350px;
  top: 30px;
  animation: right-wing 0.7s infinite ease-in;
  transform-origin: left;
}
.dragon {
  position: absolute;
  left: 170px;
}

@keyframes left-wing {
  50% {
    transform: rotate(40deg);
  }
}

@keyframes right-wing {
  50% {
    transform: rotate(-38deg);
  }
}

@keyframes dragon-canvas {
  50% {
    transform: translateY(100px);
  }
}
